.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo
{
    height: 80px;
}

.hebergements
{
    border-top: 2px solid #0065FC;
    height: 80px;
    display: flex;
    align-items: center;
}

.nav
{
    margin-top: 50px;
}

.search_barre
{
    display: flex;
    line-height: 30px;
    margin-top: 30px;
}

.icone_map
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
}

.input_search
{
  border: 1px solid black;  
}

.bouton_rechercher
{
    display: flex;
    justify-content: center;
    height: 30px;
    border: 1px solid black;
    border-radius: 0px 10px 10px 0px;
    width: 90px;
    color: white;
    background-color: #0065FC;
}

.filtres
{
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.titre_filtres
{
    margin-right: 30px;
}

.economique, .familial, .romantique, .animaux
{
    display: flex;
    align-items: center;
    height: 30px;
    border: 2px solid #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    margin-right: 30px;

}

.icone_economique, .icone_familial, .icone_romantique, .icone_animaux
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    color: #0065FC;
    background-color: #DEEBFF;
}

.information
{
    display: flex;
}

.hebergements_aside
{
    display: flex;
    margin: 10px;

}
#paragraphe_hebergements
{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: burlywood;
    width: 1000px;
    height: 600px;
}

.hotel_cannebiere, .hotel_port, .hotel_mouettes, .hotel_mer, .hotel_panier, .hotel_amina
{
    background-color: coral;
    width: 250px;
    height: 250px;
    margin: 20px
}

.img_marcus_loke
{

}

.aside
{
    background-color: darkgreen;
    width: 350px;
    height: 600px;
    margin-left: 20px;
}

.hotel_matin, .hotel_eau, .hotel_blanc
{
    background-color: darkgrey;
    width: 250px;
    height: 150px;
    margin: 20px 0px 20px 20px;
}

.img_activites
{
    background-color: darkkhaki;
    width: auto;
    height: 600px;

}

#paragraphe_activites
{
    display: flex;
}

.vieux_port, .img_2_3, .calanques, .img_5_6
{
    background-color: darkviolet;
    margin: 30px 15px 15px 15px;
    width: 300px;
    height: 500px;
}

.fort_pomegues, .longchamp
{
    background-color: dimgray;
    width: 250px;
    height: 250px;
    margin: 10px 10px 10px 10px;
}

.ile_frioul, .notre_dame
{
    background-color: dimgray;
    width: 250px;
    height: 200px;
    margin: 10px 10px 10px 10px;
}

.footer
{
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    height: 200px;
}

.a_propos, .nos_hebergements, .assistance
{
    width: 450px;
    margin-top: 50px;
    margin-left: 30px;
}
