body 
{
    margin: 0;
    padding: 0;    
}

/*header*/

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 50px;
    width: 90%;
    margin: 0 5%;
}

.logo, .nav
{
    height: 50px;
}

.txt_nav
{
    margin-left: 70px;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.txt_nav:hover
{
    padding-top: 10px;
    border-top: 1px solid #0065FC;
}

.txt_nav_1_2:hover
{
    color: #0065FC;
}

.blue
{
    font-weight: bold;
    color: #0065FC;
}

/*search*/

.search
{
    margin: 30px 5% 25px 5%;
}

.search > p > strong
{
    font-size: 30px;
}

.search_barre
{
    display: flex;
    margin-top: 20px;
}

.icone_map
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
}

.icone_map > i
{
    font-size: 20px;
}

input
{
    height: 30px;
    font-size: 20px;
}

.bouton_rechercher
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 0px 10px 10px 0px;
    width: 120px;
    color: white;
    background-color: #0065FC;
    font-size: 20px;
}

.filtres
{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titre_filtres
{
    margin-right: 30px;
}

.bouton_filtres
{
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    height: 30px;
    margin-right: 30px;
}

.icone_filtres
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    color: #0065FC;
    background-color: #DEEBFF;
}

.bouton_txt_filtres
{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.bouton_txt_filtres:hover
{
    color: #0065FC;
}

.information
{
    display: flex;
    margin-bottom: 20px;
}

.icone_information
{
    color: #0065FC;
}

/*hebergement+aside*/

.hebergements_aside
{
    margin: 0 5%;
    display: flex;
}

/*hebergement*/

#paragraphe_hebergements 
{
    background-color: #F2F2F2;
    border-radius: 30px;
}

.titre_hebergements
{
    font-size: 30px;
    margin-left: 30px;
}

.hebergements
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hotel_heb
{
    display: block;
    justify-content: center;
    border-radius: 30px;
    width: 250px;
    height: 250px;
    margin-bottom: 30px;
    background-color: white;
    padding: 5px;
    text-decoration: none;
}

.image_heb
{
    border-radius: 30px 30px 0px 0px;
    width: 250px;
    height: 180px;
}

.texte_heb
{
    width: 250px;
    height: 70px;
    border-radius: 0px 0px 30px 30px;
    text-decoration: none;
    color: black;
}

.texte_heb > strong
{
    font-size: 20px;
    font-weight: bold;
}

.icone_blue
{
    font-size: x-small;
    color: #0065FC;
}

.afficher_plus
{
    font-weight: bold;
    margin: 30px 0px 30px 30px;
}

/*aside*/

.aside
{
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #F2F2F2;
    width: 33%;
    margin-left: 20px;
}

.titre_populaires
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    margin: 0 30px;
}

.hotel_aside
{
    display: flex;
    background-color: white;
    border-radius: 30px;
    width: 350px;
    height: 150px;
    margin: 0 20px; 
    padding: 5px;
    text-decoration: none;
    margin-bottom: 50px;

}

.image_aside
{
    border-radius: 30px 0px 0px 30px;
    width: 40%;
    height: 150px;
}

.texte_aside
{
    padding: 10px;
    color: black;
}

.texte_aside > strong
{
    font-size: 20px;
    font-weight: bold;
}

/*activités*/

#image_activites
{
    margin: 0 5%;
}

.titre_activites
{
    font-size: 30px;
    margin-left: 30px;
    padding-top: 30px;
}

.paragraphe_activites
{
    display: flex;
    justify-content: space-evenly;
}

.vieux_port, .img_2_3, .calanques, .img_5_6
{
    display: block;
    text-decoration: none;
    background-color: white;
    border-radius: 30px;
    width: 300px;
    height: 500px;
}

.fort_pomegues, .longchamp
{
    display: block;
    text-decoration: none;
    background-color: white;
    width: 300px;
    height: 250px;
    border-radius: 30px;
}

.ile_frioul, .notre_dame
{
    display: block;
    text-decoration: none;
    background-color: white;
    width: 300px;
    height: 200px;
    border-radius: 30px;
}

.fort_pomegues
{
    margin-bottom: 50px;
}

.notre_dame
{
    margin-bottom: 50px;
}

.img_act
{
    border-radius: 30px 30px 0px 0px;
}

.image_act_1_4
{
    width: 300px;
    height: 425px;
    border-radius: 30px 30px 0px 0px;
}

.image_act_2_6
{
    width: 300px;
    height: 175px;
}

.image_act_3_5
{
    width: 300px;
    height: 125px;
}

.texte_act
{
    width: 300px;
    height: 75px;
    padding-top: 20px;
    padding-left: 20px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.box_shadow
{
    box-shadow: 10px 10px 10px #F2F2F2;
}

/*footer*/

.footer
{
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    height: 200px;
    margin-top: 50px;
}

.titre_footer
{
    font-size: 18px;
    font-weight: bold;
}

.a_propos, .nos_hebergements, .assistance
{
    width: 450px;
    margin-top: 50px;
    margin-left: 30px;
}

.footer a
{
    text-decoration: none;
    color: black;
}

/*querie*/

@media screen and (max-width:780px)
{
    header
    {
        flex-direction: column;
    }

    .filtres
    {
        flex-direction: column;
        justify-content: flex-start;
    }

    #paragraphe_hebergements
    {
        width: 100%;
        height: auto;
    }

    .hotel_heb
    {
        margin: 40px 30px 40px 30px;
    }
}

@media screen and (max-width: 1170px) 
{
    .hebergements_aside
    {
        flex-wrap: wrap;
    }

    .aside
    {
        width: 100%;
        margin-left: 0;
    }

    .paragraphe_activites
    {
        flex-wrap: wrap;
    }

    .vieux_port, .img_2_3, .calanques, .img_5_6
    {
        margin-bottom: 50px;    
    }

    .footer
    {
        flex-wrap: wrap;
        height: auto;
    }
}
